<article class="post-card {{post_class}} {{#unless feature_image}}no-image{{else}}{{#is "home"}}{{#has index="nth:6"}}post-card-large{{/has}}{{/is}}{{/unless}}">
    <div class="post-card-content">
        <a class="post-card-content-link" href="{{url}}">
            <header class="post-card-header">
                <h2 class="post-card-title">{{title}}</h2>
            </header>
            <section class="post-card-excerpt">
                <p>{{excerpt words="33"}}</p>
            </section>
        </a>
        <footer class="post-card-meta">
            <ul class="author-list">
            {{#foreach authors}}
                <li class="author-list-item">
                    <div class="author-name-tooltip">
                        {{name}}
                    </div>
                    {{#if profile_image}}
                        <a href="{{url}}" class="static-avatar">
                            <img class="author-profile-image" src="{{img_url profile_image size="xs"}}" alt="{{name}}" />
                        </a>
                    {{else}}
                        <a href="{{url}}" class="static-avatar author-profile-image">{{> "icons/avatar"}}</a>
                    {{/if}}
                </li>
            {{/foreach}}
            </ul>

            <span class="reading-time"><time class="post-full-meta-date" datetime="{{date format="YYYY-MM-DD"}}">{{date format="YYYY 年 MM 月 DD 日"}}</time></span>

        </footer>

    </div>{{!--/.post-card-content--}}

</article>
