{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}
<title>归档 - {{meta_title}}</title>

{{!-- The big featured header, it uses blog cover image as a BG if available --}}
<header class="site-header outer">
    <div class="inner">
        {{> "site-nav"}}
    </div>
</header>

<main id="site-main" class="site-main outer">
    <div class="inner">

        <article class="post-full">
            <header class="post-full-header">
                <h1 class="post-full-title">归档</h1>
            </header>
            <section class="post-full-content">
                <div class="post-content">
                    {{#get "posts" limit='all'}}
                    <div class="inner">
                        <div class="post-feed">
                            {{#foreach posts}}
                            <p style="width: 100%;">
                                <small
                                    style='font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace!important;'
                                    datetime="{{date format="YYYY-MM-DD"}}">{{date format="YYYY 年 MM 月 DD 日"}} </small> - <a href='{{ url }}'>{{title}}</a> 
                            </p>
                            {{/foreach}}
                        </div>
                    </div>
                    {{/get}}
                </div>
            </section>
        </article>
    </div>
</main>

{{!-- The #contentFor helper here will send everything inside it up to the matching #block helper found in default.hbs --}}
{{#contentFor "scripts"}}
<script>
    $(function () {
        var $postContent = $(".post-full-content");
        $postContent.fitVids();
    });
</script>
{{/contentFor}}